<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-6 fh5co-widget ">
					<h3>Location</h3>
					<p>26, Milagiriya Avenue, Colombo 4</p>
					<p><a href="#">Get location on Google Maps</a></p>
				</div>
				<div class="col-md-6 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="tel://1234567920">0112582590</a></li>
						<li><a href="tel://1234567920">0112597128</a></li>
						<li><a href="#">Fax: 0112583816</a></li>
						<li><a href="mailto:info@yoursite.com">fieldfsl@sltnet.lk</a></li>
					</ul>
				</div>

			<!--
				<div class="col-md-4 col-sm-4 col-xs-6 col-md-push-1 ">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>
			-->

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy;Field Services Pvt LTD. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="https://venturekpq.com" target="_blank">VentureKPQ</a>
					</p>
					<!--
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
					-->
				</div>
			</div>

		</div>
	</footer>
	
<!-- SCRIPTS start -->

	<!-- jQuery -->
	<script src="assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<!-- countTo -->
	<script src="assets/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/magnific-popup-options.js"></script>
	
	<!-- Main Script -->
	<script src="assets/js/scripts.min.js"></script>

<!-- SCRIPTS end -->

	</body>
</html>