<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO META DATA start -->

		<title>@@title</title>
		<meta name="author" content="">
		<meta name="copyright" content="">
		<meta name="description" content="@@description">
		<meta name="keywords" content="@@keywords">

<!-- SEO META DATA end -->

<!-- ICONS start -->

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
		<link rel="shortcut icon" href="favicon.ico">

<!-- ICONS end -->

<!-- FONTS | STYLESHEETS | LIBRARIES start -->

	<link href='https://fonts.googleapis.com/css?family=Work+Sans|Great+Vibes|Volkhov:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="assets/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="assets/css/magnific-popup.css">

	<!-- Our Main style sheet -->
	<link rel="stylesheet" href="assets/css/styles.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="assets/js/jquery/jquery.min.js"><\/script>')</script>
	
	<!-- Modernizr JS -->
	<script src="assets/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
<!-- FONTS | STYLESHEETS | LIBRARIES end -->

<!-- ANALYTICS start -->

		<!-- <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-XX', 'auto');
			ga('send', 'pageview');
		</script> -->

<!-- ANALYTICS end -->

	</head>

	<body class="@@body_class">

<!-- HEADER start -->

		@@include('header.html')

<!-- HEADER end -->

<!-- NAVIGATION start -->

		@@include('navigation.html')

<!-- NAVIGATION end -->