<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<!-- Field Services Logo -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<div class="some-shit">
						<a href="/">							
							<img class="fsl-logo" src="../assets/images/svg/fsl-logo.svg" alt="field services logo">
						</a>
					</div>
				</div>
			</div>
			<!-- Field Services Font -->
			<div class="row">
				<div class="col-xs-12 text-center">
					<div id="fh5co-logo"><a href="index.html">Field Services Limited</a></div>
				</div>
			</div>
			<!-- Field Services Navbar -->
			<div class="row">
				<div class="col-xs-12 text-center menu-1">
					<ul>
						<!-- <li class="active"><a href="index.html">Home</a></li> -->
						<li><a class="page-scroll" href="#fh5co-services">Services</a></li>
						<li><a class="page-scroll" href="#fh5co-project">About</a></li>
						<li><a class="page-scroll" href="#fh5co-blog">Clients</a></li>
						<li><a class="page-scroll" href="#fh5co-contact">Contact</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>